
.hover-link:hover{
border-bottom: 1px solid rgb(126, 88, 88);
/* margin: 0.4rem; */
}
.col1:hover{
  color: rgb(191, 102, 29);
  cursor: pointer;
}
.field1{
  margin-top: 1.5rem;
  border: px solid;
  /* height: 70vh; */
  /* width: 20vw; */
}
.field{
  width: 20vw;
  height: 10vh;
  padding: 0 !important
}
.clear{
  margin: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid; */
  
}
.input-field{
  width: 25vw !important
}
.bg{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./assest/bg1.jpg) ;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.main-page{
  background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.55)),url(./assest/maimt_index.png) ;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}
/* .book{
  /* background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(./assest/books.webp) ; */
  

.bookname{
  background-image: linear-gradient(rgba(0,0,0,0.19),rgba(0,0,0,0.10)),url(./assest/books.webp) ;
  box-shadow: inset;
  /* margin-left: 1rem; */
  height: 45vh;
  width: 30vw;

}
.navbar1{
  position: relative;
  right: 4rem;
}
.navbar2{
  position: relative;
  right: 2rem;
}
.navbar3{
  position: relative;
  right: 0.5rem;
}
.navbar4{
  position: relative;
  left: 1rem;
}
.navbar5{
  position: relative;
  left: 2.5rem;
}
.navbar6{
  position: relative;
  left: 4rem;
}
.navbar7{
  position: relative;
  left: 5.6rem;
}
.navbar8{
  position: relative;
  left: 7.5rem;
}
.navbar9{
  position: relative;
  left: 8.8rem;
}
.card1:hover {
    color: white !important;
    background-color: rgba(2,55,52) !important;
    cursor: pointer;
}
.card2:hover{
  box-shadow: 2px 2px 15px rgb(139, 148, 151);
  cursor: pointer;
}
.bgc{
  background-image:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(./assest/Reuseable/library.webp);
  
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
 /* table, td, th{
  border: none !important;
  padding: 0;
  margin: 0;
} */
/* table{
  border: 1px solid;
} */
/* table{
  width: 100vw !important;
  margin: 0 auto;
} */
/* table th{
  text-align: center;
  position: relative;
  /* width: 1rem; */
  /* left: 25rem; */

  /* background: skyblue  !important ; */
  /* background-color: skyblue !important; */
/* .row{
  /* background-color: skyblue !important; */

